@if (ViewBag.CurrentCard != null)
{
    using (Html.BeginForm("ECOComplete", "MiniPIP", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <script src="../../ckeditor/ckeditor.js"></script>

        <div class="form-horizontal">
            <div class="form-group">
                <div class="row col-lg-6">
                    <label class="control-label col-lg-2">Page Name</label>
                    <div class="col-lg-10">
                        <input class="form-control text-box single-line" value="@ViewBag.CardDetailPage" readonly="readonly" id="modalname" name="modalname" type="text" />
                    </div>
                </div>
                <div class="row col-lg-6">

                </div>
            </div>

            <div class="form-group">
                <div class="row col-lg-6">
                    <label class="control-label col-lg-2">ECO Complete</label>
                    <div class="col-lg-10">
                        @Html.DropDownList("ECOCompletedList", null, new { @id = "ECOCompletedList", @class = "form-control" })
                    </div>
                </div>
                <div class="row col-lg-6">
                    <label class="control-label col-lg-2">ECO Complete Date</label>
                    <div class="col-lg-10">
                        <input class="form-control text-box single-line" id="ECOCompleteDate" name="ECOCompleteDate" type="text" value="@ViewBag.CurrentCard.ECOCompleteDate" />
                    </div>
                </div>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $("#ECOCompleteDate").datepicker({
                            changeMonth: true,
                            changeYear: true,
                            dateFormat: 'yy-mm-dd'
                        });
                    });
                </script>
            </div>

            <div class="form-group">
                <div class="row col-lg-6">
                    <input class="form-control text-box single-line" value="@ViewBag.ECOKey" type="hidden" id="ECOKey" name="ECOKey" />
                </div>
                <div class="row col-lg-6">
                    <input class="form-control text-box single-line" value="@ViewBag.CardKey" type="hidden" id="CardKey" name="CardKey" />
                </div>
            </div>

            <hr />
            <div class="form-group">
                <div class="col-lg-12">
                    <div class="col-lg-4">
                        <span class="btn btn-default btn-file" id="choosefile3">
                            Attachment <input type="file" name="file3" id="file3" runat="server" onchange="ShowFileNames3(this)" />
                        </span>
                    </div>
                    <div class="col-lg-8">
                        <div class="col-lg-11">
                            <label class="control-label" id="showfile1" name="showfile1"></label>
                        </div>
                        <div class="col-lg-1">
                            <input class="form-control text-box single-line" value="" id="attachmentupload" name="attachmentupload" type="hidden" />
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                                function ShowFileNames3(oFile) {
                                    $('#showfile1').text(oFile.value);
                                    document.getElementById("attachmentupload").value = oFile.value;
                                }
                </script>
            </div>
            <hr />

            @if (ViewBag.CurrentCard.AttachList.Count > 0)
            {
                <div class="form-group">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Attachments</h3>
                            </div>
                            <div class="panel-body">
                                @foreach (var item in ViewBag.CurrentCard.AttachList)
                                {
                                    var fns = item.Split(new char[] { '/' });
                                    var fn = fns[fns.Length - 1];
                                    <div class="row">
                                        <a href="@item" target="_blank">
                                            <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>@fn
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            }

            @foreach (var item in ViewBag.CurrentCard.CommentList)
            {
                <div class="form-group">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-lg-2"><h3 class="panel-title">Comment</h3></div>
                                    <div class="col-lg-7"></div>
                                    <div class="col-lg-1">
                                        @if (ViewBag.badmin != null && ViewBag.badmin)
                                        {
                                            <button class="form-control" type="button" value="CardKey=@(item.CardKey)&Date=@(item.CommentDate.ToString())" onclick="ModifyCardComment(this)">
                                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                            </button>
                                        }
                                    </div>
                                    <div class="col-lg-1"></div>
                                    <div class="col-lg-1">
                                        @if (ViewBag.badmin != null && ViewBag.badmin)
                                        {
                                            <button class="form-control" type="button" value="CardKey=@(item.CardKey)&Date=@(item.CommentDate.ToString())" onclick="DeleteSPCardComment(this)">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                            </button>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body" style="overflow-y: scroll;overflow-x: scroll;">
                                @Html.Raw(item.Comment)
                            </div>
                            <div class="panel-footer text-right">
                                Reporter: <a href="/User/UserCenter?username=@item.Reporter">@item.Reporter.Split(new char[] { '@' })[0]</a> @item.CommentDate.ToString("yyyy-MM-dd hh:mm:ss")
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            }

            <div class="col-lg-12">
                <div class="form-group">
                    Comment
                </div>

                <div class="form-group">
                    <div>
                        <textarea name="commenteditor" id="commenteditor" rows="10" cols="80"></textarea>
                        <script>
                        CKEDITOR.replace('commenteditor', { htmlEncodeOutput: true, filebrowserImageUploadUrl: '/userfiles/Upload.ashx' });
                        </script>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-4">
                                <span class="btn btn-default btn-file" id="choosefile6">
                                    Editor Attachment <input type="file" name="file6" id="file6" runat="server" onchange="ShowFileNames6(this)" />
                                </span>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-1"><button class="form-control" type="button" data-toggle="tooltip" title="Save User Info" onclick="SaveUserContent()"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span></button></div>
                            <div class="col-lg-1"><button class="form-control" type="button" data-toggle="tooltip" title="Retrieve User Info" onclick="UserCacheContent()"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></button></div>
                            <div class="col-lg-5"></div>
                        </div>
                        <script type="text/javascript">
                                            function ShowFileNames6(oFile) {
                                                ajaxFileUpload();
                                            }
                                            function ajaxFileUpload() {
                                                $.ajaxFileUpload
                                                (
                                                    {
                                                        url: '/userfiles/ImageUpload.ashx',
                                                        secureuri: false,
                                                        fileElementId: 'file6',
                                                        dataType: 'HTML',
                                                        success: function (data, status)
                                                        {
                                                            var wholeval = CKEDITOR.instances.commenteditor.getData() + data;
                                                            CKEDITOR.instances.commenteditor.setData(wholeval);
                                                        },
                                                        error: function (e)
                                                        {
                                                            alert(e);
                                                        }
                                                    }
                                                )
                                                return false;
                                            }

                                            function SaveUserContent() {
                                                RealSaveUserContent(CKEDITOR.instances.commenteditor.getData());
                                                return false;
                                            }
                        </script>
                    </div>
                </div>

            </div>
            <hr />
            <div class="row col-lg-12">
                <div class="form-group">
                    <div class="row col-lg-3">
                        @if (ViewBag.badmin != null && ViewBag.badmin)
                        { <button data-toggle="tooltip" title="Roll Back To This Card" type="button" class="btn btn-default" onclick="RollBack2ThisCard()"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> RollBack2This</button>}
                        
                    </div>
                    <div class="row col-lg-2">
                        <input type="submit" value="Commit Info" id="commitinfo" name="commitinfo" class="btn btn-default" />
                    </div>
                    <div class="row col-lg-2">
                        <input type="submit" value="Pass Card" id="submitcard" name="submitcard" class="btn btn-default" />
                    </div>
                    <div class="row col-lg-2">
                        @if (ViewBag.badmin != null && ViewBag.badmin)
                        { <input type="submit" value="Force Pass" id="forcecard" name="forcecard" class="btn btn-default" />}
                    </div>
                    <div class="row col-lg-3">
                    </div>
                </div>
            </div>

        </div>
    }
}

