@if (ViewBag.CurrentCard != null)
{
    using (Html.BeginForm("ECOComplete", "MiniPIP", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <script src="../../ckeditor/ckeditor.js"></script>

        <div class="form-horizontal">
            <div class="form-group">
                <div class="row col-lg-6">
                    <label class="control-label col-lg-2">Page Name</label>
                    <div class="col-lg-10">
                        <input class="form-control text-box single-line" value="@ViewBag.CardDetailPage" readonly="readonly" id="modalname" name="modalname" type="text" />
                    </div>
                </div>
                <div class="row col-lg-6">
                    <label class="control-label col-lg-2">ECO Complete</label>
                    <div class="col-lg-10">
                        @Html.DropDownList("ECOCompletedList", null, new { @id = "ECOCompletedList", @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row col-lg-6">
                    <label class="control-label col-lg-2">ECO Submit Date</label>
                    <div class="col-lg-10">
                        <input class="form-control text-box single-line" id="ECOSubmitDate" name="ECOSubmitDate" type="text" value="@ViewBag.CurrentCard.ECOSubmitDate" />
                    </div>
                </div>

                <div class="row col-lg-6">
                    <label class="control-label col-lg-2">TR Approved Date</label>
                    <div class="col-lg-10">
                        <input class="form-control text-box single-line" id="ECOTRApprovedDate" name="ECOTRApprovedDate" type="text" value="@ViewBag.CurrentCard.ECOTRApprovedDate" />
                    </div>
                </div>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $("#ECOSubmitDate").datepicker({
                            changeMonth: true,
                            changeYear: true,
                            dateFormat: 'yy-mm-dd'
                        });
                        $("#ECOTRApprovedDate").datepicker({
                            changeMonth: true,
                            changeYear: true,
                            dateFormat: 'yy-mm-dd'
                        });
                    });
                </script>
            </div>

            <div class="form-group">
                <div class="row col-lg-6">
                    <label class="control-label col-lg-2">CCB Approved Date</label>
                    <div class="col-lg-10">
                        <input class="form-control text-box single-line" id="ECOCCBApprovedDate" name="ECOCCBApprovedDate" type="text" value="@ViewBag.CurrentCard.ECOCCBApprovedDate" />
                    </div>
                </div>

                <div class="row col-lg-6">
                    <label class="control-label col-lg-2">ECO Complete Date</label>
                    <div class="col-lg-10">
                        <input class="form-control text-box single-line" id="ECOCompleteDate" name="ECOCompleteDate" type="text" value="@ViewBag.CurrentCard.ECOCompleteDate" />
                    </div>
                </div>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $("#ECOCCBApprovedDate").datepicker({
                            changeMonth: true,
                            changeYear: true,
                            dateFormat: 'yy-mm-dd'
                        });
                        $("#ECOCompleteDate").datepicker({
                            changeMonth: true,
                            changeYear: true,
                            dateFormat: 'yy-mm-dd'
                        });
                    });
                </script>
            </div>

            <div class="form-group">
                <div class="row col-lg-6">
                    <input class="form-control text-box single-line" value="@ViewBag.ECOKey" type="hidden" id="ECOKey" name="ECOKey" />
                </div>
                <div class="row col-lg-6">
                    <input class="form-control text-box single-line" value="@ViewBag.CardKey" type="hidden" id="CardKey" name="CardKey" />
                </div>
            </div>

            <hr />
            <div class="form-group">
                <div class="col-lg-12">
                    <div class="col-lg-4">
                        <span class="btn btn-default btn-file" id="choosefile3">
                            Attachment <input type="file" name="file3" id="file3" runat="server" onchange="ShowFileNames3(this)" />
                        </span>
                    </div>
                    <div class="col-lg-8">
                        <div class="col-lg-11">
                            <label class="control-label" id="showfile1" name="showfile1"></label>
                        </div>
                        <div class="col-lg-1">
                            <input class="form-control text-box single-line" value="" id="attachmentupload" name="attachmentupload" type="hidden" />
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                                function ShowFileNames3(oFile) {
                                    $('#showfile1').text(oFile.value);
                                    document.getElementById("attachmentupload").value = oFile.value;
                                }
                </script>
            </div>
            <hr />

            @if (ViewBag.CurrentCard.AttachList.Count > 0)
            {
                <div class="form-group">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Attachments</h3>
                            </div>
                            <div class="panel-body">
                                @foreach (var item in ViewBag.CurrentCard.AttachList)
                                {
                                    var fns = item.Split(new char[] { '/' });
                                    var fn = fns[fns.Length - 1];
                                    <div class="row">
                                        <a href="@item" target="_blank">
                                            <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>@fn
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            }

            @foreach (var item in ViewBag.CurrentCard.CommentList)
            {
                <div class="form-group">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Comment</h3>
                            </div>
                            <div class="panel-body" style="overflow-y: scroll;overflow-x: scroll;">
                                @Html.Raw(item.Comment)
                            </div>
                            <div class="panel-footer text-right">
                                Reporter: <a href="/User/UserCenter?username=@item.Reporter">@item.Reporter.Split(new char[] { '@' })[0]</a> @item.CommentDate.ToString("yyyy-MM-dd hh:mm:ss")
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            }

            <div class="col-lg-12">
                <div class="form-group">
                    Comment
                </div>

                <div class="form-group">
                    <div>
                        <textarea name="commenteditor" id="commenteditor" rows="10" cols="80"></textarea>
                        <script>
                        CKEDITOR.replace('commenteditor', { htmlEncodeOutput: true, filebrowserImageUploadUrl: '/userfiles/Upload.ashx' });
                        </script>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row col-lg-9">
                </div>
                <div class="row col-lg-3">
                    <input type="submit" value="Submit" id="modalinput" name="modalinput" class="btn btn-default" />
                </div>
            </div>

        </div>
    }
}

