@if (ViewBag.CurrentCard != null)
{
    using (Html.BeginForm("ECOPending", "MiniPIP", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <script src="../../ckeditor/ckeditor.js"></script>

        <div class="form-horizontal">
            <div class="form-group">
                <div class="row col-lg-6">
                    <label class="control-label col-lg-2">Page Name</label>
                    <div class="col-lg-10">
                        <input class="form-control text-box single-line" value="@ViewBag.CardDetailPage" readonly="readonly" id="modalname" name="modalname" type="text" />
                    </div>
                </div>
                <div class="row col-lg-6">
                    <label class="control-label col-lg-2">MCO Issued</label>
                    <div class="col-lg-10">
                        <input class="form-control text-box single-line" typeof="text" value="@ViewBag.CurrentCard.EBaseInfo.MCOIssued" id="MCOIssued" name="MCOIssued" data-val="true" data-val-length="The field Project must be a string with a minimum length of 1 and a maximum length of 30." data-val-length-max="30" data-val-length-min="1" data-val-regex="The field should not contain \'" data-val-regex-pattern="^(?!.*&#39;).*$" />
                        <span class="field-validation-valid text-danger" data-valmsg-for="MCOIssued" data-valmsg-replace="true"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row col-lg-6">
                    <label class="control-label col-lg-2">Order Info</label>
                    <div class="col-lg-10">
                        <input class="form-control text-box single-line" typeof="text" value="@ViewBag.CurrentCard.EBaseInfo.FirstArticleNeed" id="OrderInfo" name="OrderInfo" data-val="true" data-val-length="The field Project must be a string with a minimum length of 1 and a maximum length of 9." data-val-length-max="9" data-val-length-min="1" data-val-regex="The field should not contain \'" data-val-regex-pattern="^(?!.*&#39;).*$" data-val-required="The field is required." />
                        <span class="field-validation-valid text-danger" data-valmsg-for="OrderInfo" data-valmsg-replace="true"></span>
                    </div>
                </div>

                <div class="row col-lg-6">
                    <label class="control-label col-lg-2">Flow Info</label>
                    <div class="col-lg-10">
                        @Html.DropDownList("FlowInfoList", null, new { @id = "FlowInfoList", @class = "form-control" })
                        @*@Html.DropDownList("ECOTypeList", null, new { @id = "ECOTypeList", @class = "form-control" })*@
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row col-lg-6">
                    <label class="control-label col-lg-2">Existed PN Implement</label>
                    <div class="col-lg-10">
                        @Html.DropDownList("PNImplementList", null, new { @id = "PNImplementList", @class = "form-control" })
                    </div>
                </div>
                <div class="row col-lg-6">
                    <label class="control-label col-lg-2">MiniPIP Hold</label>
                    <div class="col-lg-10">
                        @Html.DropDownList("MiniPIPHoldList", null, new { @id = "MiniPIPHoldList", @class = "form-control" })
                    </div>
                </div>
            </div>

                @if (ViewBag.CurrentCard.PendingHistoryTable.Count > 0)
                {
                    <hr/>

                    <div class="form-group">
                        <table id="orderdatatable" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th style="text-align:center;font-size:12px">Update Time</th>
                                    <th style="text-align:center;font-size:12px">Update Information</th>
                                </tr>
                            </thead>

                            <tbody>
                            @foreach (var tempinfo in ViewBag.CurrentCard.PendingHistoryTable)
                            {
                                    <tr>
                                        <td style="text-align:center;font-size:12px">@tempinfo.UpdateTime</td>
                                        <td style="text-align:center;font-size:12px">@tempinfo.History</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                <div class="form-group">
                    <div class="row col-lg-6">
                        <input class="form-control text-box single-line" value="@ViewBag.ECOKey" type="hidden" id="ECOKey" name="ECOKey" />
                    </div>
                    <div class="row col-lg-6">
                        <input class="form-control text-box single-line" value="@ViewBag.CardKey" type="hidden" id="CardKey" name="CardKey" />
                    </div>
                </div>

                <hr />
                <div class="form-group">
                    <div class="col-lg-12">
                        <div class="col-lg-4">
                            <span class="btn btn-default btn-file" id="choosefile3">
                                Attachment <input type="file" name="file3" id="file3" runat="server" onchange="ShowFileNames3(this)" />
                            </span>
                        </div>
                        <div class="col-lg-8">
                            <div class="col-lg-11">
                                <label class="control-label" id="showfile1" name="showfile1"></label>
                            </div>
                            <div class="col-lg-1">
                                <input class="form-control text-box single-line" value="" id="attachmentupload" name="attachmentupload" type="hidden" />
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        function ShowFileNames3(oFile) {
                            $('#showfile1').text(oFile.value);
                            document.getElementById("attachmentupload").value = oFile.value;
                        }
                    </script>
                </div>
                <hr />

                @if (ViewBag.CurrentCard.AttachList.Count > 0)
                {
                    <div class="form-group">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Attachments</h3>
                                </div>
                                <div class="panel-body">
                                    @foreach (var item in ViewBag.CurrentCard.AttachList)
                                    {
                                        var fns = item.Split(new char[] { '/' });
                                        var fn = fns[fns.Length - 1];
                                        <div class="row col-lg-12">
                                            <div class="col-lg-11">
                                                <a href="@item" target="_blank">
                                                    <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>@fn
                                                </a>
                                            </div>
                                            <div class="col-lg-1">
                                                <button class="form-control" value="@fn" onclick="DeleteCardAttachment(this)" type="button">
                                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                </button>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                }

                @foreach (var item in ViewBag.CurrentCard.CommentList)
                {
                    <div class="form-group">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Comment</h3>
                                </div>
                                <div class="panel-body" style="overflow-y: scroll;overflow-x: scroll;">
                                    @Html.Raw(item.Comment)
                                </div>
                                <div class="panel-footer text-right">
                                    Reporter: <a href="/User/UserCenter?username=@item.Reporter">@item.Reporter.Split(new char[] { '@' })[0]</a> @item.CommentDate.ToString("yyyy-MM-dd hh:mm:ss")
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                }

                <div class="col-lg-12">
                    <div class="form-group">
                        Comment
                    </div>

                    <div class="form-group">
                        <div>
                            <textarea name="commenteditor" id="commenteditor" rows="10" cols="80"></textarea>
                            <script>
                                CKEDITOR.replace('commenteditor', { htmlEncodeOutput: true, filebrowserImageUploadUrl: '/userfiles/Upload.ashx' });
                            </script>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row col-lg-9">
                    </div>
                    <div class="row col-lg-3">
                        <input type="submit" value="Submit" id="modalinput" name="modalinput" class="btn btn-default" />
                    </div>
                </div>

            </div>
    }
}

