@model IEnumerable < IEnumerable<Domino.Models.DominoVM>>

@{
    ViewBag.Title = "ViewAll";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="row">
    <div class="col-lg-12">&nbsp;</div>
</div>

<div class="row">
    <div class="col-lg-12">&nbsp;</div>
</div>


<div class="row">
    <div class="col-lg-3">
        <ol class="breadcrumb" style="font-size:18px">
            <li><a href="/Domino/MiniPIP/ViewAll">Working MiniPIP Board</a></li>
        </ol>
    </div>
    <div class="col-lg-1">
        <button data-toggle="tooltip" title="Refresh System Information" type="button" onclick="RefreshSystem()" class="btn btn-default" style="height:3em; width:100%;"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
    </div>
    <div class="col-lg-1">
        <button data-toggle="tooltip" title="Operation History" type="button" onclick="OperationHistory()" class="btn btn-default" style="height:3em;width:100%;"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></button>
    </div>
    <div class="col-lg-3">
        <button  MYTP="BT"  data-toggle="tooltip" title="Completed MiniPIP" type="button" onclick="CompletedMiniPIP()" class="btn btn-default" style="width:10.5em;">Completed MiniPIP</button>
    </div>
    <div class="col-lg-4">
    </div>

    <script type="text/javascript">
        function RefreshSystem()
        {
            window.location.href = '/Domino/MiniPIP/RefreshSys';
        }

        function CompletedMiniPIP()
        {
            window.location.href = '/Domino/MiniPIP/CompletedMiniPIP';
        }
    </script>

    @if (ViewBag.HistoryInfos != null && ViewBag.HistoryInfos.Count > 0)
    {
        <script type="text/javascript">
        function OperationHistory()
        {
            $('#historymodal').modal();
        }
        </script>
    }
    else
    {
        <script type="text/javascript">
        function OperationHistory()
        {}
        </script>
    }
</div>

<div class="row">
    <div class="col-lg-12">&nbsp;</div>
</div>

@if (!string.IsNullOrEmpty(ViewBag.DupPNList))
{
    <script type="text/javascript">
        $(function () {
            alert("Following Product Request has duplication miniPIP: @ViewBag.DupPNList");
        });
    </script>
}

@if (ViewBag.badmin != null && ViewBag.badmin)
{

    <div class="row">
        <div class="row" style="margin-left:3px">
            <div class="col-lg-12">
                <a data-toggle="collapse" href="#filterid" aria-expanded="false" aria-controls="collapseExample" style="font-size:18px;font-family:'Arial Narrow';">
                    <font color="black"><strong>Filters</strong></font>&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/Content/images/icon/extend.png" style="height:25px; width:14px">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">&nbsp;</div>
        </div>
        <div class="row" style="margin-left:10px">
            <div class="collapse" id="filterid">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-11">
                            <div class="row col-lg-12">
                                <div class="col-lg-2">
                                    <label class="control-label">ECO Num Filter:</label>
                                </div>
                                <div class="col-lg-3">
                                    <input class="form-control text-box single-line" type="text" value="" id="ECONumFilter" name="ECONumFilter" />
                                </div>
                                <div class="col-lg-1">
                                    <button data-toggle="tooltip" title="ECO Num Filter" type="button" class="btn btn-default" onclick="FilterECONum()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                </div>

                                @if (ViewBag.FilterPEList != null)
                                {
                                    <div class="col-lg-2">
                                        <label class="control-label" for="FilterPEList">PE Filter:</label>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.DropDownList("FilterPEList", null, new { @id = "FilterPEList", @class = "form-control", @onchange = "ShowPEWorkingMiniPIP()" })
                                    </div>
                                }
                                else
                                {
                                    <div class="col-lg-6"></div>
                                }


                                <script type="text/javascript">
                            function ShowPEWorkingMiniPIP() {
                                if (document.getElementById("FilterPEList").value && document.getElementById("FilterPEList").value != 'NONE')
                                {
                                    window.location.href = '/Domino/MiniPIP/ShowPEWkingMiniPIP?PE=' + document.getElementById("FilterPEList").value;
                                }
                            }

                            function FilterECONum()
                            {
                                if (document.getElementById("ECONumFilter").value)
                                {
                                    window.location.href = '/Domino/MiniPIP/ShowECOMiniPIP?ECONum=' + document.getElementById("ECONumFilter").value;
                                }
                            }

                            function FilterPN() {
                                if (document.getElementById("PNFilter").value) {
                                    window.location.href = '/Domino/MiniPIP/ShowECOMiniPIPByPN?pndesc=' + document.getElementById("PNFilter").value;
                                }
                            }
                                </script>
                            </div>
                            <hr />
                            <div class="row col-lg-12">
                                @if (ViewBag.ecocardtypelist != null)
                                {
                                    <div class="col-lg-2">
                                        <label class="control-label" for="ecocardtypelist">MiniPIP Filter:</label>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.DropDownList("ecocardtypelist", null, new { @id = "ecocardtypelist", @class = "form-control", @onchange = "ShowFilteredMiniPIP()" })
                                    </div>
                                }
                                else
                                {
                                    <div class="col-lg-6"></div>
                                }
                                <div class="col-lg-4">
                                    @if (ViewBag.minipipsummaryurl != null)
                                    {
                                        <a href="@ViewBag.minipipsummaryurl" target="_blank">MiniPIP Summary Data File</a>
                                    }
                                </div>
                                <div class="col-lg-2"></div>
                            </div>
                            <hr />
                            <div class="row col-lg-12">

                                @if (ViewBag.CustomerList != null)
                                {
                                    <div class="col-lg-2">
                                        <label class="control-label" for="CustomerList">Customer Filter:</label>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.DropDownList("CustomerList", null, new { @id = "CustomerList", @class = "form-control", @onchange = "ShowCustomerWorkingMiniPIP()" })
                                    </div>
                                }
                                else
                                {
                                    <div class="col-lg-6"></div>
                                }
                                <div class="col-lg-4">
                                    <div class="col-lg-4">
                                        <label class="control-label">PN Desc:</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <input class="form-control text-box single-line" type="text" value="" id="PNFilter" name="PNFilter" placeholder="eg:FTL410QD"/>
                                    </div>
                                    <div class="col-lg-2">
                                        <button data-toggle="tooltip" title="PN Filter" type="button" class="btn btn-default" onclick="FilterPN()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <button MYTP="BT" data-toggle="tooltip" title="All MiniPIP" type="button" onclick="AllMiniPIP()" class="btn btn-default" style="width:8em;">All MiniPIP</button>
                                </div>

                                <script type="text/javascript">
                            function ShowFilteredMiniPIP() {
                                if (document.getElementById("ecocardtypelist").value && document.getElementById("ecocardtypelist").value != 'NONE') {
                                    window.location.href = '/Domino/MiniPIP/SummaryMiniPIP?CardType=' + document.getElementById("ecocardtypelist").value;
                                }
                            }

                            function ShowCustomerWorkingMiniPIP() {
                                if (document.getElementById("CustomerList").value && document.getElementById("CustomerList").value != 'NONE') {
                                    window.location.href = '/Domino/MiniPIP/ShowCustomerWorkingMiniPIP?Customer=' + document.getElementById("CustomerList").value;
                                }
                            }

                            function AllMiniPIP()
                            {
                                window.location.href = '/Domino/MiniPIP/AllPendingWorkingMiniPIP';
                            }
                                </script>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}


@if (Model != null)
{
    var defaultlist = new List<List<Domino.Models.DominoVM>>();
    var reviselist = new List<List<Domino.Models.DominoVM>>();
    var kickofflist = new List<List<Domino.Models.DominoVM>>();
    var newloadlist = new List<List<Domino.Models.DominoVM>>();

    foreach (var item in Model)
    {
        if (item.Count() == 0)
        {
            continue;
        }

        if (ViewBag.newloaddict != null && ViewBag.newloaddict.ContainsKey(item.ElementAt(0).EBaseInfo.ECOKey))
        {
            newloadlist.Add(item.ToList());
        }
        else if (string.Compare(item.ElementAt(0).EBaseInfo.MiniPIPStatus, Domino.Models.DominoMiniPIPStatus.hold) == 0)
        {
            kickofflist.Add(item.ToList());
        }
        else if (string.Compare(item.ElementAt(0).EBaseInfo.FlowInfo, Domino.Models.DominoFlowInfo.Default) == 0)
        {
            defaultlist.Add(item.ToList());
        }
        else if (string.Compare(item.ElementAt(0).EBaseInfo.FlowInfo, Domino.Models.DominoFlowInfo.Revise) == 0)
        {
            reviselist.Add(item.ToList());
        }
        else
        {
            kickofflist.Add(item.ToList());
        }
    }

    <div class="panel-group" id="accordion">
        @if (defaultlist.Count > 0)
        {
            <div class="panel panel-default" id="paneldefault" style="border-left-color:white;border-right-color:white;border-bottom-color:white;border-bottom-width:0px;margin-top:0px !important;margin-bottom:0px !important;">
                <div class="panel-heading" style="background-color:#00A4BB;border-left-color:white;border-right-color:white;border-bottom-color:white;border-bottom-width:0px;margin-top:0px !important;margin-bottom:0px !important;">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-target="#collapsedefault" href="#collapsedefault" class="collapsed" style="font-family:'Arial Narrow'"><font color="white">Generic route&nbsp;&nbsp;&nbsp;@(defaultlist.Count)</font></a>
                    </h4>
                </div>
                <div id="collapsedefault" class="panel-collapse collapse" style="border-left-color:white;border-right-color:white;border-bottom-color:white;border-bottom-width:0px;margin-top:0px !important;margin-bottom:0px !important;">
                    <div class="panel-body" style="border-left-color:white;border-right-color:white;border-bottom-color:white;border-bottom-width:0px">
                        @foreach (var item in defaultlist)
                        {
                            var idx = 0;

                            var keyvals = Domino.Models.ECOBaseInfo.RetrieveBaseInfoKV4ViewAll(item[0].EBaseInfo);

                            <div class="row" style="padding:4px;">
                                <div class="col-lg-4" style="padding:4px;">
                                    <div class="well" style="margin-bottom:8px;background-color:transparent !important;border-left-color:#006DC0;border-top-color:transparent !important;border-right-color:transparent !important;border-bottom-color:transparent !important;border-top-left-radius:0px;border-bottom-left-radius:0px;padding-top:4px;padding-bottom:4px">
                                        <table class="table table-hover borderless">
                                            <tbody>
                                                @foreach (var kvp in keyvals)
                                                {
                                                    <tr>
                                                        <td><strong>@kvp.Key</strong></td>
                                                        <td>
                                                            @if (string.Compare(kvp.Key.ToUpper(), "ECO STATUS") == 0)
                                                            {
                                                                <font color="red"><strong>@kvp.Value.ToUpper()</strong></font>
                                                            }
                                                            else
                                                            {
                                                                <strong>@kvp.Value</strong>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="col-lg-8" style="padding:4px;">
                                    @foreach (var card in item)
                                    {
                                        <div class="col-lg-1"><img MYTP="HOVER" src="~/Content/images/@(card.EBaseInfo.ECOType)/@(card.EBaseInfo.ECOType)-@(card.CardType)-@(card.CardStatus).png" onclick="GotoSpecialCard('/Domino/MiniPIP/@(card.CardType)?ECOKey=@(card.ECOKey)&CardKey=@(card.CardKey)')" style="height:200px; width:62px;" ></div>
                                        idx = idx + 1;
                                    }

                                    @if(item.Count() > 1)
                                    {
                                        <div class="col-lg-1"><img src="~/Content/images/minipip/DefaultComplete.png" style="height:200px; width:62px;"></div>
                                        idx = idx+1;
                                    }
                                    @for (; idx < 12;)
                                    {
                                        <div class="col-lg-1"></div>
                                        idx = idx + 1;
                                    }
                                </div>

                            </div>
                            <hr style="border-color:#ECECEC;margin-top:0px !important;margin-bottom:0px !important;" />
                        }
                    </div>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-lg-12" style="height:1em;">&nbsp;</div>
        </div>

        @if (reviselist.Count > 0)
        {
        <div class="panel panel-default" id="panelrevise" style="border-left-color:white;border-right-color:white;border-bottom-color:white;border-bottom-width:0px;margin-top:0px !important;">
            <div class="panel-heading" style="background-color:#006DC0;">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#collapserevise" href="#collapserevise" class="collapsed" style="font-family:'Arial Narrow'"><font color="white">Derivative Route&nbsp;&nbsp;&nbsp;@(reviselist.Count)</font></a>
                </h4>
            </div>
            <div id="collapserevise" class="panel-collapse collapse" style="border-left-color:white;border-right-color:white;border-bottom-color:white;border-bottom-width:0px">
                <div class="panel-body" style="border-left-color:white;border-right-color:white;border-bottom-color:white;border-bottom-width:0px">
                    @foreach (var item in reviselist)
                    {
                        var idx = 0;
                        var keyvals = Domino.Models.ECOBaseInfo.RetrieveBaseInfoKV4ViewAll(item[0].EBaseInfo);

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="well" style="margin-bottom:8px;background-color:transparent !important;border-left-color:#006DC0;border-top-color:transparent !important;border-right-color:transparent !important;border-bottom-color:transparent !important;border-top-left-radius:0px;border-bottom-left-radius:0px;padding-top:4px;padding-bottom:4px">
                                <table class="table table-hover borderless">
                                    <tbody>
                                        @foreach (var kvp in keyvals)
                                        {
                                            <tr>
                                                <td><strong>@kvp.Key</strong></td>
                                                <td>
                                                    @if (string.Compare(kvp.Key.ToUpper(), "ECO STATUS") == 0)
                                                    {
                                                        <font color="red"><strong>@kvp.Value.ToUpper()</strong></font>
                                                    }
                                                    else
                                                    {
                                                        <strong>@kvp.Value</strong>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-lg-8">
                            @foreach (var card in item)
                            {
                                <div class="col-lg-1"><img MYTP="HOVER" src="~/Content/images/@(card.EBaseInfo.ECOType)/@(card.EBaseInfo.ECOType)-@(card.CardType)-@(card.CardStatus).png" onclick="GotoSpecialCard('/Domino/MiniPIP/@(card.CardType)?ECOKey=@(card.ECOKey)&CardKey=@(card.CardKey)')" style="height:200px; width:62px;"></div>
                                idx = idx + 1;
                            }
                            @for (; idx < 12;)
                            {
                                <div class="col-lg-1"></div>
                                idx = idx + 1;
                            }
                        </div>

                    </div>

                    <hr style="border-color:#ECECEC;margin-top:0px !important;margin-bottom:0px !important;" />
                    }
                   
                </div>
            </div>
        </div>
        }

        <div class="row">
            <div class="col-lg-12" style="height:1em;">&nbsp;</div>
        </div>

        @if (kickofflist.Count > 0)
        {
        <div class="panel panel-default" id="panelother" style="border-left-color:white;border-right-color:white;border-bottom-color:white;border-bottom-width:0px;margin-top:0px !important;">
            <div class="panel-heading" style="background-color:#00C28D;">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseother" href="#collapseother" class="collapsed" style="font-family:'Arial Narrow'"><font color="white">Kicking Off&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@(kickofflist.Count)</font></a>
                </h4>
            </div>
            <div id="collapseother" class="panel-collapse collapse" style="border-left-color:white;border-right-color:white;border-bottom-color:white;border-bottom-width:0px">
                <div class="panel-body" style="border-left-color:white;border-right-color:white;border-bottom-color:white;border-bottom-width:0px">
                    @foreach (var item in kickofflist)
                    {
                        var idx = 0;
                        var keyvals = Domino.Models.ECOBaseInfo.RetrieveBaseInfoKV4ViewAll(item[0].EBaseInfo);

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="well" style="margin-bottom:4px;background-color:transparent !important;border-left-color:#006DC0;border-top-color:transparent !important;border-right-color:transparent !important;border-bottom-color:transparent !important;border-top-left-radius:0px;border-bottom-left-radius:0px;padding-top:4px;padding-bottom:4px">
                                <table class="table table-hover borderless">
                                    <tbody>
                                        @foreach (var kvp in keyvals)
                                        {
                                            <tr>
                                                <td><strong>@kvp.Key</strong></td>
                                                <td>
                                                    @if (string.Compare(kvp.Key.ToUpper(), "ECO STATUS") == 0)
                                                    {
                                                        <font color="red"><strong>@kvp.Value.ToUpper()</strong></font>
                                                    }
                                                    else
                                                    {
                                                        <strong>@kvp.Value</strong>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                           </div>
                        <div class="col-lg-8">
                            <div class="col-lg-8">
                                @if (string.IsNullOrEmpty(item.ElementAt(0).EBaseInfo.ECONum))
                                {
                                    <img MYTP="HOVER" src="~/Content/images/minipip/ECOPendingOnlyworking.png" onclick="GotoSpecialCard('/Domino/MiniPIP/ECOPending?ECOKey=@(item.ElementAt(0).ECOKey)&CardKey=@(item.ElementAt(0).CardKey)')" style="height:200px; width:80px;">
                                }
                                else
                                {
                                    <img MYTP="HOVER" src="~/Content/images/minipip/ECOPendingOnlypending.png" onclick="GotoSpecialCard('/Domino/MiniPIP/ECOPending?ECOKey=@(item.ElementAt(0).ECOKey)&CardKey=@(item.ElementAt(0).CardKey)')" style="height:200px; width:80px;">
                                }
                                
                            </div>
                        </div>

                    </div>

                    <hr style="border-color:#ECECEC;margin-top:0px !important;margin-bottom:0px !important;" />
                    }

                </div>
            </div>
        </div>
        }

        <div class="row">
            <div class="col-lg-12" style="height:1em;">&nbsp;</div>
        </div>

        @if (newloadlist.Count > 0)
        {
            <div class="panel panel-default" id="panelnewload" style="border-left-color:white;border-right-color:white;border-bottom-color:white;border-bottom-width:0px;margin-top:0px !important;">
                <div class="panel-heading" style="background-color:#00C28D;">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-target="#collapsenewload" href="#collapsenewload" class="collapsed" style="font-family:'Arial Narrow'"><font color="white">New Loaded&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@(newloadlist.Count)</font></a>
                    </h4>
                </div>
                <div id="collapsenewload" class="panel-collapse collapse" style="border-left-color:white;border-right-color:white;border-bottom-color:white;border-bottom-width:0px">
                    <div class="panel-body" style="border-left-color:white;border-right-color:white;border-bottom-color:white;border-bottom-width:0px">
                        @foreach (var item in newloadlist)
                    {
                        var idx = 0;
                        var keyvals = Domino.Models.ECOBaseInfo.RetrieveBaseInfoKV4ViewAll(item[0].EBaseInfo);

                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="well" style="margin-bottom:4px;background-color:transparent !important;border-left-color:#006DC0;border-top-color:transparent !important;border-right-color:transparent !important;border-bottom-color:transparent !important;border-top-left-radius:0px;border-bottom-left-radius:0px;padding-top:4px;padding-bottom:4px">
                                        <table class="table table-hover borderless">
                                            <tbody>
                                                @foreach (var kvp in keyvals)
                                                {
                                                    <tr>
                                                        <td><strong>@kvp.Key</strong></td>
                                                        <td>
                                                            @if (string.Compare(kvp.Key.ToUpper(), "ECO STATUS") == 0)
                                                            {
                                                                <font color="red"><strong>@kvp.Value.ToUpper()</strong></font>
                                                            }
                                                            else
                                                            {
                                                                <strong>@kvp.Value</strong>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="col-lg-8">
                                        @if (string.IsNullOrEmpty(item.ElementAt(0).EBaseInfo.ECONum))
                                        {
                                            <img MYTP="HOVER" src="~/Content/images/minipip/ECOPendingOnlyworking.png" onclick="GotoSpecialCard('/Domino/MiniPIP/ECOPending?ECOKey=@(item.ElementAt(0).ECOKey)&CardKey=@(item.ElementAt(0).CardKey)')" style="height:200px; width:80px;">
                                        }
                                        else
                                        {
                                            <img MYTP="HOVER" src="~/Content/images/minipip/ECOPendingOnlypending.png" onclick="GotoSpecialCard('/Domino/MiniPIP/ECOPending?ECOKey=@(item.ElementAt(0).ECOKey)&CardKey=@(item.ElementAt(0).CardKey)')" style="height:200px; width:80px;">
                                        }

                                    </div>
                                </div>

                            </div>

                            <hr style="border-color:#ECECEC;margin-top:0px !important;margin-bottom:0px !important;" />
                        }

                    </div>
                </div>
            </div>
        }

     </div>




    if (ViewBag.HistoryInfos != null && ViewBag.HistoryInfos.Count > 0)
    {
                    <div class="modal" id="historymodal" tabindex="-1" role="dialog" aria-labelledby="historymodalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="historymodalLabel">Operation History</h4>
                                </div>
                                <div class="row text-center">
                                    @foreach (var hsinfo in ViewBag.HistoryInfos)
                                    {
                                        <div class="row">
                                            <div class="col-lg-6">@(hsinfo.ECONum)</div>
                                            <div class="col-lg-6"><a data-toggle="tooltip" title="Refresh System Information" href="/Domino/MiniPIP/ShowCardByCardKey?CardKey=@(hsinfo.CardKey)">@(hsinfo.CardType)</a></div>
                                        </div>
                                    }
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                                </div>
                            </div>
                        </div>
                    </div>
    }

                <script type="text/javascript">
                    function GotoSpecialCard(val)
                    {
                        if (val)
                        {
                            window.location.href = val;
                        }
                    }
                </script>

    if (ViewBag.DominoNoticeInfo != null)
    {
                    <div class="modal" id="noticmodal" tabindex="-1" role="dialog" aria-labelledby="noticmodalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="noticmodalLabel">Notic</h4>
                                </div>
                                <div class="row text-center">
                                    <strong> @ViewBag.DominoNoticeInfo</strong>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                                </div>
                            </div>
                        </div>
                    </div>
    }

    if (ViewBag.DominoNoticeInfo != null)
    {
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#noticmodal').modal();
                        });
                    </script>
    }
}